In [59]:
import pandas as pd
import json

In [60]:
df = pd.read_csv(r"..\data\csv\games.csv")
df_champs = pd.read_csv(r"..\data\csv\champ_file_2.csv")

In [61]:
for row in df[1:100].iterrows():
    row[1]["t1_champ1id"] = df_champs[df_champs["id"] == row[1]["t1_champ1id"]]["name"]

In [62]:
for i in range(100):
    df["t1_champ1id"][i] = df_champs.loc[df_champs["id"] == df["t1_champ1id"][i]]["name"]
df["t1_champ1id"]

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
51485     19.0
51486     90.0
51487    141.0
51488    121.0
51489     89.0
Name: t1_champ1id, Length: 51490, dtype: float64

In [63]:
df["t1_champ1id"][0] = "ciso"
df["t1_champ1id"]

0         ciso
1          NaN
2          NaN
3          NaN
4          NaN
         ...
51485     19.0
51486     90.0
51487    141.0
51488    121.0
51489     89.0
Name: t1_champ1id, Length: 51490, dtype: object

In [64]:
pd.options.display.max_rows = 4000

In [65]:
df["t1_champ1id"]

0         ciso
1          NaN
2          NaN
3          NaN
4          NaN
         ...
51485     19.0
51486     90.0
51487    141.0
51488    121.0
51489     89.0
Name: t1_champ1id, Length: 51490, dtype: object

In [66]:
for row in df.iterrows():
    print(row)
    break

(0, gameId                   3326086514
creationTime          1504279457970
gameDuration                   1949
seasonId                          9
winner                            1
firstBlood                        2
firstTower                        1
firstInhibitor                    1
firstBaron                        1
firstDragon                       1
firstRiftHerald                   2
t1_champ1id                    ciso
t1_champ1_sum1                   12
t1_champ1_sum2                    4
t1_champ2id                     432
t1_champ2_sum1                    3
t1_champ2_sum2                    4
t1_champ3id                      96
t1_champ3_sum1                    4
t1_champ3_sum2                    7
t1_champ4id                      11
t1_champ4_sum1                   11
t1_champ4_sum2                    6
t1_champ5id                     112
t1_champ5_sum1                    4
t1_champ5_sum2                   14
t1_towerKills                    11
t1_inhibitorKills                 1
t1_baronKills                     2
t1_dragonKills                    3
t1_riftHeraldKills                0
t1_ban1                          92
t1_ban2                          40
t1_ban3                          69
t1_ban4                         119
t1_ban5                         141
t2_champ1id                     104
t2_champ1_sum1                   11
t2_champ1_sum2                    4
t2_champ2id                     498
t2_champ2_sum1                    4
t2_champ2_sum2                    7
t2_champ3id                     122
t2_champ3_sum1                    6
t2_champ3_sum2                    4
t2_champ4id                     238
t2_champ4_sum1                   14
t2_champ4_sum2                    4
t2_champ5id                     412
t2_champ5_sum1                    4
t2_champ5_sum2                    3
t2_towerKills                     5
t2_inhibitorKills                 0
t2_baronKills                     0
t2_dragonKills                    1
t2_riftHeraldKills                1
t2_ban1                         114
t2_ban2                          67
t2_ban3                          43
t2_ban4                          16
t2_ban5                          51
Name: 0, dtype: object)